In [5]:
import requests
import os
from dotenv import load_dotenv
from pprint import pprint
import json


# .env 파일에서 환경 변수 로드
load_dotenv()

# 환경 변수에서 값 읽기
client_id = os.getenv("CLIENT_ID")  # .env 파일의 NAVER_CLIENT_ID
client_secret = os.getenv("CLIENT_SECRET")  # .env 파일의 NAVER_CLIENT_SECRET

headers = {
    'X-Naver-Client-Id': client_id,
    'X-Naver-Client-Secret': client_secret,
}

# query string 문자열을 dict 선언
payload = {
    'query': '파이썬',
    'display': 10,
    'sort': 'sim'
}

url = 'https://openapi.naver.com/v1/search/book.json' #?query=파이썬&display=100&sort=sim

# requests get(url, params, headers) 요청 
res = requests.get(url, params=payload, headers=headers)
# json() 함수로 응답 결과 가져오기
items_data = res.json()['items']

pprint(items_data)

[{'author': '박응용',
  'description': '프로그래밍 분야 8년 연속 베스트셀러!\n'
                 '《Do it! 점프 투 파이썬》 전면 개정 2판 출시!\n'
                 '\n'
                 '중고등학생도, 비전공자도, 직장인도 프로그래밍에 눈뜨게 만든 바로 그 책이 전면 개정 2판으로 새롭게 '
                 '태어났다! 챗GPT를 시작으로 펼쳐진 생성 AI 시대에 맞춰 설명과 예제를 다듬고, 최신 경향과 심화 내용을 '
                 '보충했다. 또한 이번 개정 2판도 50만 코딩 유튜버인 조코딩과 협업을 통해 유튜브 동영상을 제공해 파이썬을 '
                 '더 쉽게 공부할 수 있다.\n'
                 '\n'
                 '8년 연속 베스트셀러! 위키독스 누적 방문 300만! 독자의 입에서 입으로 전해진 추천과 수많은 대학 및 '
                 '학원의 교재 채택을 통해 검증은 이미 끝났다. 코딩을 처음 배우는 중고등학생부터 코딩 소양을 기르려는 '
                 '비전공자, 자기계발에 진심인 직장인까지! 이 책과 함께 파이썬 프로그래밍의 세계로 ‘점프’해 보자!',
  'discount': '19800',
  'image': 'https://shopping-phinf.pstatic.net/main_4035408/40354085633.20230927071024.jpg',
  'isbn': '9791163034735',
  'link': 'https://search.shopping.naver.com/book/catalog/40354085633',
  'pubdate': '20230615',
  'publisher': '이지스퍼블리싱',
  'title': 'Do it! 점프 투 파이썬 (중학생도 첫날부터 실습하는 초고속 입문서)'},
 {'author': '윤인성',
  'description': '혼자 해도 충분하다! 1:1 과외하듯 배우는 파이썬 프로그래밍 자습서\n'
                 '\n'
                 '『혼자 공부하는 파이썬』이 더욱 흥미있고 알찬 내용으로 개정되었습니다. 프로그래밍이 정말 처음인 입문자도 '
                 '따라갈 수 있는 친절한 설명과 단계별 학습은 그대로! 혼자 공부하더라도 체계적으로 계획을 세워 학습할 수 '
                 '있도록 ‘혼공 계획표’를 새롭게 추가했습니다. 또한 입문자가 자주 물어보는 질문과 오류 해결 방법을 '
                 '적재적소에 배치하여 예상치 못한 문제에 부딪혀도 좌절하지 않고 끝까지 완독할 수 있도록 도와줍니다. 단순한 '
                 '문법 암기와 코딩 따라하기에 지쳤다면, 새로운 혼공파와 함께 ‘누적 예제’와 ‘도전 문제’로 프로그래밍의 '
                 '신세계를 경험해 보세요! 배운 내용을 씹고 뜯고 맛보고 즐기다 보면 응용력은 물론 알고리즘 사고력까지 키워 '
                 '코딩 실력이 쑥쑥 성장할 것입니다.\n'
                 '\n'
                 '이 책은 독학으로 파이썬을 배우는 입문자가 ‘꼭 필요한 내용을 제대로 학습’할 수 있도록 구성했습니다. 뭘 '
                 '모르는지조차 모르는 입문자의 막연한 마음에 십분 공감하여 과외 선생님이 알려주듯 친절하게, 핵심적인 내용만 '
                 '콕콕 집어줍니다. 책의 첫 페이지를 펼쳐서 마지막 페이지를 덮을 때까지, 혼자서도 충분히 파이썬을 배울 수 '
                 '있다는 자신감과 확신이 계속될 것입니다!\n'
                 '\n'
                 '베타리더와 함께 입문자에게 맞는 난이도, 분량, 학습 요소 등을 적극 반영했습니다. 어려운 용어와 개념은 한 '
                 '번 더 풀어쓰고, 복잡한 설명은 눈에 잘 들어오는 그림으로 풀어냈습니다. ‘혼자 공부해 본’ 여러 입문자의 '
                 '초심과 눈높이가 책 곳곳에 반영된 것이 이 책의 가장 큰 장점입니다.',
  'discount': '19800',
  'image': 'https://shopping-phinf.pstatic.net/main_3250760/32507605957.20230509170119.jpg',
  'isbn': '9791162245651',
  'link': 'https://search.shopping.naver.com/book/catalog/32507605957',
  'pubdate': '20220601',
  'publisher': '한빛미디어',
  'title': '혼자 공부하는 파이썬 (1:1 과외하듯 배우는 프로그래밍 자습서)'},
 {'author': '오연재^김용민^정승언^임성화',
  'description': '',
  'discount': '24300',
  'image': 'https://shopping-phinf.pstatic.net/main_5872377/58723776949.20260203071504.jpg',
  'isbn': '9788970188195',
  'link': 'https://search.shopping.naver.com/book/catalog/58723776949',
  'pubdate': '20260130',
  'publisher': '기한재',
  'title': '파이썬'},
 {'author': '사이토 고키',
  'description': '딥러닝 분야 부동의 베스트셀러!\n'
                 '머리로 이해하고 손으로 익히는 가장 쉬운 딥러닝 입문서\n'
                 '\n'
                 '이 책은 딥러닝의 핵심 개념을 ‘밑바닥부터’ 구현해보며 기초를 한 걸음씩 탄탄하게 다질 수 있도록 도와주는 '
                 '친절한 안내서입니다. 라이브러리나 프레임워크에 의존하지 않고 딥러닝의 기본 개념부터 이미지 인식에 활용되는 '
                 '합성곱 신경망(CNN)까지 딥러닝의 원리를 체계적으로 설명합니다. 또한 복잡한 개념은 계산 그래프를 활용해 '
                 '시각적으로 전달하여 누구나 쉽게 이해할 수 있습니다. 이 책은 딥러닝에 첫발을 내딛는 입문자는 물론이고 '
                 '기초를 다시금 다지고 싶은 개발자와 연구자에게도 훌륭한 길잡이가 되어줄 것입니다.',
  'discount': '23400',
  'image': 'https://shopping-phinf.pstatic.net/main_5261555/52615553184.20250123071242.jpg',
  'isbn': '9791169213387',
  'link': 'https://search.shopping.naver.com/book/catalog/52615553184',
  'pubdate': '20250124',
  'publisher': '한빛미디어',
  'title': '밑바닥부터 시작하는 딥러닝 1(리마스터판) (파이썬으로 익히는 딥러닝 이론과 구현)'},
 {'author': '홍의경',
  'description': '코딩 실력을 키우는 지름길은 실습이다.\n'
                 '\n'
                 '2008년 즈음에 검인정 중학교 교과서 정보1, 정보2, 정보3을 공저로 저술하였습니다. 그 당시에 8종류의 '
                 '교과서가 검인정에 합격하였는데, 파이썬을 기반으로 하는 교과서가 2종류, C언어를 기반으로 하는 교과서가 '
                 '2종류, 베이직을 기반으로 하는 교과서가 2종류, 스크래치를 기반으로 하는 교과서가 2종류였습니다.\n'
                 '\n'
                 '교육용 언어로 시작한 파이썬이 중학교 학생들이 비교적 쉽게 학습할 수 있는 프로그래밍 언어라고 생각했는데 '
                 '10여년의 세월이 흐른 지금 파이썬이 활용되는 분야가 가히 폭발적으로 증가하였습니다. \n'
                 '\n'
                 '파이썬에 관한 쉽고 좋은 교재를 저술하기 위해서 인터넷에서 30,000페이지 이상의 자료를 찾아서 '
                 '검토하였습니다. 어쩌면 파이썬이 첫 프로그래밍 언어일 본 교재의 독자들이 두려움 없이 파이썬을 기초부터 쉽게 '
                 '공부하다가, 교재를 다 읽고 나면 “어느새 중급 수준에 도달했구나”라는 생각이 들도록  완성도 높은 교재를 '
                 '목표로 하였습니다. \n'
                 '\n'
                 '입문자를 대상으로 하는 교재일수록 집필하는데 훨씬 더 많은 정성과 노력이 필요하다는 것을 잘 알고 있습니다. '
                 '개인적으로는 데이터베이스 전공교재를 저술할 때보다 몇 배 더 힘들었고, 공을 많이 들였습니다. \n'
                 '\n'
                 '원고를 버전 9까지 작성하는 동안 셀 수 없이 원고를 읽어보면서 꼭 필요하지 않은 문장은 삭제하고, 필요한 '
                 '문장은 반드시 넣었습니다. 고등학교 검인정 교과서 1권, 중학교 검인정 교과서 3권, 데이터베이스 전공 교재 '
                 '2권, 엑셀 교재 1권, 번역서 2권을 집필하면서 나름대로 한글을 정확하고 간결하게 표현하는데 자신이 '
                 '있습니다.',
  'discount': '29440',
  'image': 'https://shopping-phinf.pstatic.net/main_3246098/32460987987.20230207163755.jpg',
  'isbn': '9788970506784',
  'link': 'https://search.shopping.naver.com/book/catalog/32460987987',
  'pubdate': '20220309',
  'publisher': '생능출판',
  'title': '파이썬'},
 {'author': '김상민^장성식^김일태',
  'description': '파이썬으로 다지는 프로그래밍의 기초\n'
                 '\n'
                 'ㆍ 다양한 예제를 활용하여 초보자도 쉽게 프로그래밍의 기본을 익힐 수 있는 파이썬 입문서입니다.\n'
                 'ㆍ 문법을 사전식으로 나열하지 않고 기능적인 프로그램을 하나씩 완성하면서 익힐 수 있게 구성했습니다.\n'
                 'ㆍ 단계별로 완성하는 장별 예제 및 연습문제를 바탕으로 자신만의 프로그램을 완성할 수 있습니다.',
  'discount': '18000',
  'image': 'https://shopping-phinf.pstatic.net/main_3244094/32440944646.20230509164030.jpg',
  'isbn': '9788959604210',
  'link': 'https://search.shopping.naver.com/book/catalog/32440944646',
  'pubdate': '20220210',
  'publisher': '렉스미디어닷넷',
  'title': 'CODING BASICS PYTHON (파이썬)'},
 {'author': '염기원^오지영',
  'description': '책의 전반부는 비전공자의 입장에서 비전공자를 위한 파이썬 프로그래밍의 기초적인 내용으로 구성되어 있다. '
                 '프로그래밍에 익숙하거나 파이썬 경험이 있는 독자들은 곧바로 책의 후반부를 공부하는 것을 권한다. 책의 '
                 '전반부에서는 저자가 처음 컴퓨터 프로그래밍이라는 것을 배울 때 가장 어려워했던 변수와 메모리 관계, 특성에 '
                 '대해서 상세하게 설명하면서 비전공자들이 쉽게 프로그래밍에 입문할 수 있도록 하였다. 대부분의 프로그래밍 '
                 '교재와 다를바 없이, 파이썬으로 프로그램을 작성할 수 있도록 개발환경을 설치하는 과정과 사용 가능한 '
                 '프로그래밍 툴에 대해서도 빠지지 않고 최대한 상세한 설명과 충분한 그림을 삽입하였다. 또한, 전반부의 '
                 '뒷부분은 데이터 분석에 필요한 파이썬 프로그램 위주로 구성해서 앞부분의 기초 프로그래밍 지식을 바탕으로 '
                 '본격적인 데이터 분석을 위한 토대를 마련할 수 있도록 구성하였다.',
  'discount': '16200',
  'image': 'https://shopping-phinf.pstatic.net/main_3243624/32436240934.20230928092006.jpg',
  'isbn': '9791166750991',
  'link': 'https://search.shopping.naver.com/book/catalog/32436240934',
  'pubdate': '20220120',
  'publisher': '북두',
  'title': '파이썬 (제2판)'},
 {'author': '염기원',
  'description': '비전공자의 데이터 분석을 위한 『파이썬』은 〈파이썬 기초〉, 〈파이썬을 이용한 데이터 분석 기초〉, 〈시각화 '
                 '라이브러리 사용하기〉 등 파이썬의 기초적이고 전반적인 내용이 수록되어 있다.',
  'discount': '0',
  'image': 'https://shopping-phinf.pstatic.net/main_3249027/32490271648.20220527033830.jpg',
  'isbn': '9791159069048',
  'link': 'https://search.shopping.naver.com/book/catalog/32490271648',
  'pubdate': '20200820',
  'publisher': '복두출판사',
  'title': '파이썬'},
 {'author': '김명호',
  'description': '막막했던 파이썬, 이제 한 권으로 기초를 배우는\n'
                 '파이썬 사용 설명서!\n'
                 '\n'
                 '전 세계적으로 유명한 구글(Google)이 자신의 많은 서비스를 파이썬으로 제공하고 있습니다. 이것은 구글의 '
                 '뛰어난 서비스를 개인의 비즈니스에 쉽게 이용할 수 있다는 의미입니다.  이러한 발전에 맞춰 파이썬 문법의 '
                 '기초를 쉽게 이해할 수 있도록 이 책에서는 친절한 도해와 함께 코딩 개념을 설명합니다. 파이썬을 처음 배우는 '
                 '학생부터 비전공자, 코딩 실력을 높이려는 직장인까지 기본 문법부터 예제를 통한 활용 실력을 높여 파이썬 '
                 '프로그래밍을 마스터할 수 있습니다. 가장 쉽고, 빠르게, 효율적인 파이썬 사용 설명서! ‘한 권으로 끝내는 '
                 '파이썬’에서 찾아보세요.',
  'discount': '16200',
  'image': 'https://shopping-phinf.pstatic.net/main_3243600/32436003648.20230920072841.jpg',
  'isbn': '9791186179369',
  'link': 'https://search.shopping.naver.com/book/catalog/32436003648',
  'pubdate': '20190525',
  'publisher': '에듀웨이',
  'title': '파이썬 (비전공자를위한 파이썬 기초 입문서)'},
 {'author': '황재호^황예린',
  'description': '‘개념 → 예제 → 연습 → 프로젝트’로 이어지는 한 권 완성 코스로, 초등 학습자와 완전 초심자도 스스로 '
                 '따라 하며 파이썬 기초를 탄탄히 다질 수 있습니다. 개정 3판에서는 설명을 더 간결하게 다듬고, 학교·학원 '
                 '현장에서 자주 쓰는 예제와 복습 퀴즈를 대폭 보강했습니다.\n'
                 '책과 연동된 온라인 실습 플랫폼(병행 학습)을 통해 예습·복습을 웹에서 바로 진행할 수 있으며, 어린 '
                 '학습자도 이해하기 쉬운 문장과 컬러 도해로 핵심 개념이 ‘딱’ 들어옵니다. 집에서의 독학은 물론, 학교·학원 '
                 '수업에서도 바로 활용할 수 있도록 내용을 체계적으로 구성했습니다.',
  'discount': '15300',
  'image': 'https://shopping-phinf.pstatic.net/main_5725297/57252971178.20251017092902.jpg',
  'isbn': '9791192038087',
  'link': 'https://search.shopping.naver.com/book/catalog/57252971178',
  'pubdate': '20251101',
  'publisher': '인포앤북',
  'title': '똑똑한 파이썬 (쉽고 재미있게, 예제로 시작하는 파이썬)'}]

In [6]:
def search_books(query, display=50): 
    # query string 문자열을 dict 선언
    payload = {
        'query': query,
        'display': display,
        'sort': 'sim'
    }

    url = 'https://openapi.naver.com/v1/search/book.json' #?query=파이썬&display=100&sort=sim

    # requests get(url, params, headers) 요청 
    res = requests.get(url, params=payload, headers=headers)
    # json() 함수로 응답 결과 가져오기
    items_data = res.json()['items']

    return items_data

def search_shops(query, display=50): 
    # query string 문자열을 dict 선언
    payload = {
        'query': query,
        'display': display,
        'sort': 'sim'
    }

    url = 'https://openapi.naver.com/v1/search/shop.json' #?query=파이썬&display=100&sort=sim

    res = requests.get(url, params=payload, headers=headers)
    # json() 함수로 응답 결과 가져오기
    items_data = res.json()['items']
    return items_data

def save_json(items_data):
    with open('../data/books.json','w',encoding='utf-8') as file:
        json.dump(items_data, file)

def save_json_shop(items_data):
    with open('../data/shops.json','w',encoding='utf-8') as file:
        json.dump(items_data, file)


if __name__ == '__main__':
    save_json(search_books('파이썬'))        
    save_json_shop(search_shops('가디건'))

리팩토링 된 코드

In [7]:
import requests
import os
from dotenv import load_dotenv
import json

# .env 파일에서 환경 변수 로드
load_dotenv()

client_id = os.getenv("CLIENT_ID")
client_secret = os.getenv("CLIENT_SECRET")

headers = {
    'X-Naver-Client-Id': client_id,
    'X-Naver-Client-Secret': client_secret,
}


def search_naver_api(endpoint, query, display=50):
    """네이버 API 검색 함수"""
    payload = {
        'query': query,
        'display': display,
        'sort': 'sim'
    }
    url = f'https://openapi.naver.com/v1/search/{endpoint}.json'
    res = requests.get(url, params=payload, headers=headers)
    res.raise_for_status()  # 에러 발생 시 예외 처리
    return res.json().get('items', [])


def save_json(data, filepath):
    """JSON 파일 저장 함수"""
    os.makedirs(os.path.dirname(filepath), exist_ok=True)
    with open(filepath, 'w', encoding='utf-8') as f:
        json.dump(data, f, ensure_ascii=False, indent=4)


if __name__ == '__main__':
    books = search_naver_api('book', '파이썬')
    save_json(books, '../data/books.json')

    shops = search_naver_api('shop', '가디건')
    save_json(shops, '../data/shops.json')

In [9]:
import pandas as pd

books_df = pd.read_json('../data/books.json')
print(type(books_df))
books_df.head(2)
books_df.loc[books_df['discount'] >= 20000,['title','author','discount','publisher','pubdate']]\
    .sort_values(by='discount', ascending=False).reset_index(drop=True)

<class 'pandas.core.frame.DataFrame'>

,title,author,discount,publisher,pubdate
0,으뜸 파이썬 (프로그래밍을 사랑하는 두 교수가 작정하고 쓴),박동규,32000,생능출판,20200217
1,파이썬 통계학 기초 (단계별 접근),문창권^박수용^양갑규^정명수,31500,탐진출판사,20250811
2,단단한 파이썬 (더 깔끔하고 관리가 쉬운 파이썬 코드를 위해),패트릭 비아포어,31500,에이콘출판,20220824
3,파이썬,Y. Daniel Liang,31500,에피스테메,20180302
4,으뜸 파이썬 (개정판),박동규^강영민,31280,생능출판,20240614
5,파이썬,홍의경,29440,생능출판,20220309
6,파이썬 마스터 (실생활 융합 예제로 배우는),김종훈^김동건,29440,한빛아카데미,20250117
7,객체지향 파이썬 (파이게임과 GUI로 객체지향 프로그래밍 정복하기),어브 캘브,28800,제이펍,20231013
8,독학 파이썬,야마다 요시히로,28800,정보문화사,20241220
9,새내기 파이썬,천인국,27600,생능출판,20220630
10,파이썬 코딩 도장 (프로그래밍은 공부가 아닙니다 연습입니다),남재윤,27000,길벗,20230130
11,파이썬의 정석,조용주^임좌상,26820,길벗캠퍼스,20230110
12,디딤돌 파이썬 (구조적 프로그래밍으로 설명한 파이썬 기초),이찬수,26100,인피니티북스,20220823
13,파이썬 + AI (코드조각과 실행화면으로 배우는 코딩),안용제^김남규,25200,디지털북스,20240715
14,내공의 파이썬 (한 권으로 끝내는 초보자용 코딩 입문서),한선관,24840,자유아카데미,20250315
15,파이썬,오연재^김용민^정승언^임성화,24300,기한재,20260130
16,파이썬,이정환^신항식^민세동^김경호,23750,도서출판 홍릉(홍릉과학출판사),20190902
17,파이썬 연습 (개정판),김기용,23400,그린,20220225
18,밑바닥부터 시작하는 딥러닝 1(리마스터판) (파이썬으로 익히는 딥러닝 이론과 구현),사이토 고키,23400,한빛미디어,20250124
19,파이썬 입문 (3step으로 확실하게 배우는),야마다 요시히로^야마다 나미,22500,시그마프레스,20210105
20,파이썬 프로그래밍 (기초부터 딥러닝까지),허준,22500,성안당,20250312
21,엑셀X파이썬 (엑셀이 파이썬을 품었다),정성일,22500,길벗,20240730
22,파이썬 (다양한 예제로 알로리즘 쉽게 분석하기),김유진,22500,다본,20190410
23,파이썬 플러스,최희식,22500,인피니티북스,20240731
24,파이썬 올인원 (기초부터 데이터분석까지),이지민^임희경,20700,연두에디션,20230904
25,파이썬 (컴퓨팅 사고력을 키우는 SW 교육),우재남,20460,한빛아카데미,20160720

In [11]:
# 함수로 정의
def filter_and_sort_books(df, min_discount=20000):
    """
    할인 금액이 min_discount 이상인 도서 필터링 후 정렬
    
    Parameters:
        df (DataFrame): 도서 데이터프레임
        min_discount (int): 최소 할인 금액 기준 (기본값 20000)

    Returns:
        DataFrame: 필터링 및 정렬된 결과
    """
    return (
        df.loc[df['discount'] >= min_discount, ['title', 'author', 'discount', 'publisher', 'pubdate']]
          .sort_values(by='discount', ascending=False)
          .reset_index(drop=True)
    )

filter_and_sort_books(books_df,10000)
books_df.columns

Index(['title', 'link', 'image', 'author', 'discount', 'publisher', 'pubdate',
       'isbn', 'description'],
      dtype='object')

In [12]:
print(type(books_df['publisher']))
print(type(books_df['publisher'].str))

<class 'pandas.core.series.Series'>
<class 'pandas.core.strings.accessor.StringMethods'>

In [13]:
books_df.columns.drop(['image','description'])

Index(['title', 'link', 'author', 'discount', 'publisher', 'pubdate', 'isbn'], dtype='object')

In [14]:
# image , description 컬럼은 제외한 모든 컬럼 출력하기
books_df.loc[books_df['publisher'].str.contains('인피니티북스'),\
    books_df.columns.drop(['image','description'])].reset_index(drop=True)

,title,link,author,discount,publisher,pubdate,isbn
0,파이썬,https://search.shopping.naver.com/book/catalog...,천인국,10800,인피니티북스,20170830,9791185578330
1,파이썬 플러스,https://search.shopping.naver.com/book/catalog...,최희식,22500,인피니티북스,20240731,9791192373362
2,디딤돌 파이썬 (구조적 프로그래밍으로 설명한 파이썬 기초),https://search.shopping.naver.com/book/catalog...,이찬수,26100,인피니티북스,20220823,9791192373058

In [15]:
books_df['publisher'].unique()

array(['이지스퍼블리싱', '한빛미디어', '기한재', '생능출판', '렉스미디어닷넷', '북두', '복두출판사',
       '에듀웨이', '인포앤북', '정보문화사', '도서출판 홍릉(홍릉과학출판사)', '다본', '디지털북스',
       '에피스테메', '인피니티북스', '한빛아카데미', '자유아카데미', '길벗', '클라우드북스', '퍼플',
       '한국방송통신대학교출판문화원', '성안당', '북랩', '그린', '탐진출판사', '영진닷컴', '연두에디션',
       '에이콘출판', '시그마프레스', '길벗캠퍼스', '제이펍'], dtype=object)

In [ ]:
def filter_books_by_publisher(df, publisher_name):
    """
    특정 출판사가 포함된 도서만 필터링 (image, description 컬럼 제외)

    Parameters:
        df (DataFrame): 도서 데이터프레임
        publisher_name (str): 포함할 출판사 이름

    Returns:
        DataFrame: 필터링된 결과
    """
    return (
        df.loc[df['publisher'].str.contains(publisher_name), df.columns.drop(['image', 'description'])]
          .reset_index(drop=True)
    )

filter_books_by_publisher(books_df,'인피니티북스')

,title,link,author,discount,publisher,pubdate,isbn
0,혼자 공부하는 파이썬 (1:1 과외하듯 배우는 프로그래밍 자습서),https://search.shopping.naver.com/book/catalog...,윤인성,19800,한빛미디어,20220601,9791162245651
1,밑바닥부터 시작하는 딥러닝 1(리마스터판) (파이썬으로 익히는 딥러닝 이론과 구현),https://search.shopping.naver.com/book/catalog...,사이토 고키,23400,한빛미디어,20250124,9791169213387
2,파이썬 3 (프로그래밍을 배우기에 가장 재미있는 언어),https://search.shopping.naver.com/book/catalog...,박상현,0,한빛미디어,20160210,9788968482359

In [17]:
import pandas as pd

shops_df = pd.read_json('../data/shops.json')
print(type(shops_df))
shops_df.head(2)
shops_df.info()

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        50 non-null     object
 1   link         50 non-null     object
 2   image        50 non-null     object
 3   lprice       50 non-null     int64
 4   hprice       50 non-null     object
 5   mallName     50 non-null     object
 6   productId    50 non-null     int64
 7   productType  50 non-null     int64
 8   brand        50 non-null     object
 9   maker        50 non-null     object
 10  category1    50 non-null     object
 11  category2    50 non-null     object
 12  category3    50 non-null     object
 13  category4    50 non-null     object
dtypes: int64(3), object(11)
memory usage: 5.6+ KB

In [26]:
shops_df.loc[shops_df['lprice'] <= 50000,['brand','lprice','mallName','link']]\
    .sort_values(by='lprice').reset_index(drop=True)

,brand,lprice,mallName,link
0,BNX,13600,네이버,https://search.shopping.naver.com/catalog/5638...
1,GGPX,15790,네이버,https://search.shopping.naver.com/catalog/5726...
2,스파오,15900,네이버,https://search.shopping.naver.com/catalog/5629...
3,BNX,17730,네이버,https://search.shopping.naver.com/catalog/5724...
4,GGPX,17780,네이버,https://search.shopping.naver.com/catalog/5728...
5,로엠,17910,네이버,https://search.shopping.naver.com/catalog/5267...
6,제이플로우,18900,제이플로우,https://smartstore.naver.com/main/products/124...
7,GGPX,19920,네이버,https://search.shopping.naver.com/catalog/5724...
8,,22900,ARUMY,https://smartstore.naver.com/main/products/546...
9,후아유,23650,네이버,https://search.shopping.naver.com/catalog/5602...
10,제너럴아이디어,26190,네이버,https://search.shopping.naver.com/catalog/5728...
11,,27800,션타운,https://smartstore.naver.com/main/products/622...
12,,28100,네이버,https://search.shopping.naver.com/catalog/5772...
13,에디션,28920,네이버,https://search.shopping.naver.com/catalog/5772...
14,,29800,미드시티 여성니트,https://smartstore.naver.com/main/products/100...
15,,29800,엠클로,https://smartstore.naver.com/main/products/409...
16,쉬즈미스,31980,네이버,https://search.shopping.naver.com/catalog/5061...
17,제너럴아이디어,32360,네이버,https://search.shopping.naver.com/catalog/4954...
18,제너럴아이디어,32790,네이버,https://search.shopping.naver.com/catalog/5643...
19,로엠,35910,네이버,https://search.shopping.naver.com/catalog/5659...
20,지고트,38460,네이버,https://search.shopping.naver.com/catalog/5663...
21,제너럴아이디어,45360,네이버,https://search.shopping.naver.com/catalog/5090...
22,마인드브릿지,47920,네이버,https://search.shopping.naver.com/catalog/5731...

In [19]:
def filter_and_sort_shops(df, max_price=50000):
    """
    최대 가격 이하 상품 필터링 후 가격 기준 오름차순 정렬

    Parameters:
        df (DataFrame): 쇼핑 데이터프레임
        max_price (int): 최대 가격 기준 (기본값 50000)

    Returns:
        DataFrame: 필터링 및 정렬된 결과
    """
    return (
        df.loc[df['lprice'] <= max_price, ['brand', 'lprice', 'mallName', 'link']]
          .sort_values(by='lprice')
          .reset_index(drop=True)
    )

filter_and_sort_shops(shops_df,20000)

   brand  lprice mallName                                               link
0    BNX   13600      네이버  https://search.shopping.naver.com/catalog/5638...
1   GGPX   15790      네이버  https://search.shopping.naver.com/catalog/5726...
2    스파오   15900      네이버  https://search.shopping.naver.com/catalog/5629...
3    BNX   17730      네이버  https://search.shopping.naver.com/catalog/5724...
4   GGPX   17780      네이버  https://search.shopping.naver.com/catalog/5728...
5     로엠   17910      네이버  https://search.shopping.naver.com/catalog/5267...
6  제이플로우   18900    제이플로우  https://smartstore.naver.com/main/products/124...
7   GGPX   19920      네이버  https://search.shopping.naver.com/catalog/5724...

In [20]:
shops_df.columns

Index(['title', 'link', 'image', 'lprice', 'hprice', 'mallName', 'productId',
       'productType', 'brand', 'maker', 'category1', 'category2', 'category3',
       'category4'],
      dtype='object')

In [21]:
shops_df.loc[shops_df['mallName'] == '네이버','lprice':'brand']\
    .sort_values(by='lprice').reset_index(drop=True)

    lprice hprice mallName    productId  productType    brand
0    13600             네이버  56384375434            1      BNX
1    15790             네이버  57261197505            1     GGPX
2    15900             네이버  56294882190            1      스파오
3    17730             네이버  57245160589            1      BNX
4    17780             네이버  57285402765            1     GGPX
5    17910             네이버  52675721484            1       로엠
6    19920             네이버  57245251058            1     GGPX
7    23650             네이버  56026192332            1      후아유
8    26190             네이버  57289484260            1  제너럴아이디어
9    28100             네이버  57727760539            1
10   28920             네이버  57727800409            1      에디션
11   31980             네이버  50610572050            1     쉬즈미스
12   32360             네이버  49541497760            1  제너럴아이디어
13   32790             네이버  56437696034            1  제너럴아이디어
14   35910             네이버  56599227714            1       로엠
15   38460             네이버  56631266520            1      지고트
16   45360             네이버  50900742380            1  제너럴아이디어
17   47920             네이버  57314650854            1   마인드브릿지
18   55190             네이버  58786691599            1     유니클로
19   59410             네이버  58477326385            1    조르쥬레쉬
20   62200             네이버  58164938209            1    수아레우먼
21   70320             네이버  58548952490            1     제이슨우
22   74550             네이버  56800004384            1      헤지스
23   86810             네이버  58261299199            1  스튜디오톰보이
24   90790             네이버  49470499618            1      헤지스
25  115040             네이버  55851734407            1      헤지스
26  134620             네이버  50060018619            1      헤지스
27  139030             네이버  58489839338            1      헤지스
28  141660             네이버  58258915533            1      헤지스
29  178370             네이버  58281375602            1     라코스테
30  184670             네이버  56317700933            1     라코스테
31  190970             네이버  57450800128            1     라코스테
32  197270             네이버  57396186468            1     라코스테
33  217760             네이버  58617913471            1     라코스테
34  219870             네이버  57452522365            1     라코스테
35  251370             네이버  57080809004            1     라코스테

In [22]:
shops_df['mallName'].unique()

array(['트위티 155', '부스더샵', '네이버', 'ARUMY', '세컨찬스라이프', '레이바쿠', '나우인뉴욕',
       '아임재팬', '션타운', '제이플로우', '엠클로', '미드시티 여성니트', '브랜드리퍼블릭', '브랜드사는이쁜언니'],
      dtype=object)

In [23]:
shops_df['brand'].unique()

array(['폴로랄프로렌', '라코스테', '', '꼼데가르송', '제이플로우', '헤지스', '로엠', '지고트',
       '수아레우먼', '제이슨우', '제너럴아이디어', 'BNX', '후아유', '스튜디오톰보이', '유니클로',
       'GGPX', '스파오', '마인드브릿지', '에디션', '비비안웨스트우드', '쉬즈미스', '조르쥬레쉬'],
      dtype=object)

In [24]:
def filter_shops_by_mall(df, mall_name='네이버'):
    """
    특정 쇼핑몰 상품만 필터링 후 가격 기준 오름차순 정렬

    Parameters:
        df (DataFrame): 쇼핑 데이터프레임
        mall_name (str): 쇼핑몰 이름 (기본값 '네이버')

    Returns:
        DataFrame: 필터링 및 정렬된 결과
    """
    return (
        df.loc[df['mallName'] == mall_name, 'lprice':'brand']
          .sort_values(by='lprice')
          .reset_index(drop=True)
    )

filter_shops_by_mall(shops_df,'나우인뉴욕')

   lprice hprice mallName    productId  productType   brand
0   87900           나우인뉴욕  84216650390            2  폴로랄프로렌

In [25]:
def filter_shops(df, keyword, search_type='mall'):
    """
    mallName 또는 brand 기준으로 필터링 후 가격 오름차순 정렬

    Parameters:
        df (DataFrame): 쇼핑 데이터프레임
        keyword (str): 검색할 값 (예: '네이버', '폴로랄프로렌')
        search_type (str): 'mall' or 'brand' (기본값 'mall')

    Returns:
        DataFrame: 필터링 및 정렬된 결과
    """
    
    if search_type == 'mall':
        condition = df['mallName'] == keyword
    elif search_type == 'brand':
        condition = df['brand'] == keyword
    else:
        raise ValueError("search_type은 'mall' 또는 'brand'만 가능합니다.")

    return (
        df.loc[condition, 'lprice':'brand']
          .sort_values(by='lprice')
          .reset_index(drop=True)
    )

filter_shops(shops_df,'라코스테','brand')

   lprice hprice mallName    productId  productType brand
0  178370             네이버  58281375602            1  라코스테
1  184670             네이버  56317700933            1  라코스테
2  190970             네이버  57450800128            1  라코스테
3  197270             네이버  57396186468            1  라코스테
4  217760             네이버  58617913471            1  라코스테
5  219870             네이버  57452522365            1  라코스테
6  251370             네이버  57080809004            1  라코스테